server:
  port: 8083

spring:
  application:
    name: user-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          batch_size: 20

  # Nacos 配置
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_SERVER_ADDR:nacos:8848} # 读取docker环境变量
        namespace: ${NACOS_NAMESPACE:public}
        group: DEFAULT_GROUP
        ephemeral: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,discovery
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    nacos:
      enabled: true

logging:
  level:
    root: INFO
    com.zjgsu.librarymanagement: DEBUG
    com.alibaba.cloud.nacos: INFO
  file:
    name: logs/user-service.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

app:
  jwt:
    secret: ${JWT_SECRET:library-management-secret-key-2024}
    expiration: 86400
    service-token: "Bearer eyJhbGciOiJIUzI1NiJ9.eyJyb2xlIjoiQURNSU4iLCJpZCI6NiwidXNlcm5hbWUiOiJhZG1pbiIsInN1YiI6ImFkbWluIiwiaWF0IjoxNzY2MjM4NDg0LCJleHAiOjE4NTI2Mzg0ODR9.ARaGr0dOujE3vd6t5eJXCcckGFrOb3l6jAEVmIRcN4Y"

